@page
@model Proiect_Rochii.Pages.Imprumuturi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Imprumut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Imprumut.Clienta" class="control-label"></label>
                <select asp-for="Imprumut.Clienta" class ="form-control" asp-items="ViewBag.ClientaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Imprumut.Rochie" class="control-label"></label>
                <select asp-for="Imprumut.Rochie" class ="form-control" asp-items="ViewBag.RochieID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Imprumut.DataImpumutare" class="control-label"></label>
                <input asp-for="Imprumut.DataImpumutare" class="form-control" />
                <span asp-validation-for="Imprumut.DataImpumutare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imprumut.DataReturnare" class="control-label"></label>
                <input asp-for="Imprumut.DataReturnare" class="form-control" />
                <span asp-validation-for="Imprumut.DataReturnare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
