@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <h1 class="display-4">Închirieri Rochii de Mirese</h1>
    
  
    <p class="descriere"> Avem pentru dumneavoastra cele mai frumoase rochii de mireasă, de la cei mai cunoscuti designeri</p>
    <img src="~/rochie.png" />
    <div class="hero-image"></div>
    <p > </p>


</div>
