@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p style="background-image: url('RochieDeMireasa.jpg');">
<div class="text-center">
    <h1 class="display-4">Închirieri Rochii de Mirese</h1>
   

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
