@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vă rugăm să vă verificați email-ul pentru a vă reseta parola.
  
</p>
