@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Parola dumneavoastră a fost resetată.  <a asp-page="./Login">Click aici pentru log in</a>.
</p>
